html {
    font-family: "Hedvig Letters Serif", serif;
    text-align: center;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    background: radial-gradient(150px 40px, #ffafaf 30%, #fff 100%);
}

.main-content {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
/*--------------------------------
MAIN design
-------------------------------- */
.main-head {
    padding: 0;
    position: relative;
    background: none;
}

.head-background {
    /* width: 100%;
    position: relative; */
    width: 100%;
    height: 500px;
    background: #ff0000;
}

.head-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #ffffff, transparent);
}

.head-background img {
    width: 100%;
}

.main-head h1 {
    font-size: 2rem;
    min-width: 150px;
    float: left;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 600px) {
    .main-head h1 {
        font-size : 1rem;
    }
}

/*--------------------------------
ABOUT design
-------------------------------- */
.main-about {
    padding-top: 50px;
}

.about-content h3 {
    width: 200px;
    margin: 0 auto;
    border-bottom: 1px solid #555555;
}

/*--------------------------------
WORKS design
-------------------------------- */

.works-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.work-content {
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ff5a5a;
    display: flex;
    flex-flow: column;
    transition: .3s;
}

.work-content:hover {
    transform: scale(1.05);
}

.work-photo {
    width: 100%;
    display: block;
}

.work-photo img {
    width: 100%;
}


h3 {
    padding: 10px;
    margin: 0;
}

/* Work Buttons */
.work-links {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 10px auto;
}

.work-btn {
    width: 90px;
    height: 100%;
    margin: 0 10px;
    border: 1px solid #ff5a5a;
    
}

.work-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #ffafaf;
    transition: .3s;
}

.work-btn a:hover {
    background: #fff;
    color: #ff5a5a;
    font-weight: bold;
}

/* work-info */
.work1-info {
    margin-top: 5px;
}

.work1-info h4 {
    margin: 0;
    padding: 0;
}

.work1-info p {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*--------------------------------
LINKS CONTAINER design
-------------------------------- */
.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 50px;
}

.link {
    width: 230px;
    height: 75px;
    margin: 10px 2px;
    padding: 20px 5px;
    background: #ffafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-bottom: solid 3px #ff5a5a;
    box-sizing: border-box;
    transition: .1s;
}

.link:hover {
    border: solid 3px #ff5a5a;
}

.link-icon i {
    font-size: 30px;
}

.link-name {
    margin: 0 auto;
    font-size: .9em;
    margin-top: 5px;
}

.fa-phone {
    font-size: 0.8em;
}

/*--------------------------------
LINKS CONTAINER design
-------------------------------- */
footer {
    background: linear-gradient(to bottom, #ffafaf, #fff);
    padding: 50px;
}

.footer-copyright {
    text-align: center;
}
